[submodule "projetos/deadpool_wolverine/Deadpool-Ultima-Aventura-O-Fim-do-Jogo"]
    path = projetos/deadpool_wolverine/Deadpool-Ultima-Aventura-O-Fim-do-Jogo
    url = https://github.com/DevWizardMarcos/Deadpool-Ultima-Aventura-O-Fim-do-Jogo.git
